#app {
  height: 100vh;
  width: 100vw;
}

.scrollArea {
    flex: 1;
    overflow-y: auto;
}

.scrollWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}